body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

form {
    background-color: #000000c7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 300px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    padding: 10px;
    width: 90%;
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom-color: #00fffc;
}

label {
    display: block;
    margin: 20px 0 5px;
    font-size: 1.2em;
    font-weight: bold;
}

button {
    background-image: linear-gradient(45deg, magenta, cyan);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-image: linear-gradient(45deg, cyan, magenta);
}

span {
    color: yellow;
    font-size: 0.8em;
}
